---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Tipos de energía del colegio</h1>
<h2>Solar</h2>
<p>El colegio usa un sistema de paneles solares para la enregía</p>
<div class="list-of-photos">
  <div class="photo-prwview">
    <a herf="/tipo1">
      <div class="photo-picture"></div>
    </a>
    <div class="description">
    Descripción de el tipo de energía
    </div>
  </div>
  <div class="photo-prwview">
    <div class="photo-picture"></div>
    <div class="description">
    Descripción de el tipo de energía
    </div>
  </div>
  <div class="photo-prwview">
    <div class="photo-picture"></div>
    <div class="description">
    Descripción de el tipo de energía
    </div>
  </div>
  <div class="photo-prwview">
    <div class="photo-picture"></div>
    <div class="description">
    Descripción de el tipo de energía
    </div>
  </div>
  <div class="photo-prwview">
    <div class="photo-picture"></div>
    <div class="description">
    Descripción de el tipo de energía
    </div>
  </div>
  <div class="photo-prwview">
    <div class="photo-picture"></div>
    <div class="description">
    Descripción de el tipo de energía
    </div>
  </div>
</div>
</BaseLayout>